* {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    width: 400px;
    height: 355px;
    color: rgba(51, 51, 51,1);
    font-family: 'Source', sans-serif;
    font-size: 15px;
    line-height: 135%;
    overflow: auto;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

blockquote, q {
    quotes: none;
}

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: none;
    }

del {
    text-decoration: line-through;
}

hr {
    background: transparent;
    border: 0;
    clear: both;
    color: transparent;
    height: 1px;
    margin: 0;
    padding: 0;
}

mark {
    background-color: #ffffb3;
    font-style: italic;
}

input,
select {
    vertical-align: middle;
}

ins {
    background-color: red;
    color: white;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}

* html .clearfix,
:first-child + html .clearfix {
    zoom: 1;
}

/* ------------------------------------  */
.postMeta {
    border-top: 1px solid rgb(226, 226, 226);
    padding: 5px 0px 0px 0px;
    margin-top: 7px;
    clear: left;
    overflow: hidden;
    float: left;
    width: 100%;
}

.tags {
    float: left;
    width: 290px;
    margin-top: 1px;
    margin-right: 0px;
}

.tags  li {
    display: inline-table;
    margin: 0px 0px 3px 0px;    
}

.tags  li a {
    height:100%;
    width:100%;
    cursor: pointer;
    display:block;
    text-decoration: none;
}

.lIn {
    background-image:url(/images/linked.png);
    background-repeat:no-repeat;
    width: 69px;
    height: 19px;
    position: absolute;    
    background-size: 66px;
    float: left;
    margin-top: 8px;
    background-color: rgba(252, 252, 252, 0.81);
    background-position-x: 2px;
    background-position-y: 1px;
    border-color: rgba(160, 158, 158, 0.55);
    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
}

.read {
    background-image: url(/images/pen.png);
    background-color: rgba(255, 255, 255, 0.5);
    width: 384px;
    height: 0px;
    position: absolute;
    background-position:center;
    background-repeat:no-repeat;
    display:none;
}

.postMeta a {
    color: Black;
    text-decoration: none;
}

.postMeta a:hover {
    text-decoration: underline;
}

.metaRight {
    width: 100%;
}

.textPreview {
    margin: 0px 0px 0px 0px;
    text-align: justify;
    padding: 0;
}

h1 {
    font-size: 17px;
    font-weight: bolder;
    padding: 4px 0 10px;
    line-height: 100%;
    font-style: normal;
}

.category {
    font-size: 12px;
    line-height: 100%;
    color: rgb(204, 204, 204);
    /*font-weight: bold;*/
    margin-top:1px;
}

.category a {
    color: black;
}

.starBookmark {
    padding: 0;
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 0px;
}

.starBookmark:hover {
    cursor:pointer;    
}

.postBoxMid {
    padding: 0;
    border-color: rgba(0, 0, 0, 0.18);
    border-width: 1px;
    border-style: solid;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.postBoxMidInner {
    padding: 5px 5px;
    position: relative;
}

.date {
    float: right;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 100%;
    font-weight: bold;
    margin-top:2px;
}

.articles {
    z-index: 1;
    margin-top: 51px;
}

div#loader {
    position:initial;
}

.headItem {
    height: 45px;
    display: block;
    position: fixed;
    top: 0;
    clear: both;
    z-index: 1111;
    width: 394px;
    margin-left: 0.5px;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.18);
    /*border-radius: 2px;*/
    border-width: 1px;
    border-style: solid;
    display: none;
    box-shadow: -1px 6px 6px -5px rgb(204, 204, 204);
}

.pano {
    background-image: url(/images/pano.png);
    background-repeat: no-repeat;
}

.property {
    background-image: url(/images/right.png);
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    cursor: pointer;
    display:block;
}


.send {
    background-image: url(/images/makale2.png);
    background-repeat: no-repeat;
}

.egitim {
    background-image: url(/images/ua.png);
    background-repeat: no-repeat;
}

.linked {
    background-image: url(/images/information.png);
    background-repeat: no-repeat;
}

.github {
    background-image: url(/images/github.png);
    background-repeat: no-repeat;
}

.authors {
    background-image: url(/images/authors.png);
    background-repeat: no-repeat;
}

.kodcu {
    background-image: url(/images/kodcu-logo.gif); 
    width: 191px; 
    background-repeat: no-repeat; 
    background-size: 185px;
    height: 34px;
    position: absolute;
    margin-top: 8px;
    margin-left: 5px;
}

ul li {
    display: inline-table;
    margin: 5px 12px 0px 0px;    
}

ul li a {
    height: 32px;
    width: 32px;
    cursor: pointer;
    display:block;
}

ul {    
    margin-right: -160px;
    list-style: none;
    display: inline-table;
    float: right;
    margin-top: 1px;
    width: 332px;
    transition: margin-right 1s;
}

.logo {
    width: 190px;
    padding-top: 5px;
}

.autonavi {
    overflow: hidden;
    height: 41px;
    width: 174px;
    padding: 0px;
    position: absolute;
    z-index: 1000;
    margin-left: 219px;
}